<div class="well">
	<div class="header">
	<h1>About</h1>
	<hr>
	</div>

	<h3>Brief Intro</h3>
	<p>This app is set during meichuhack2014 on Microsoft Azure , the main goal of our project is
	to create a location-base relationship and serve as a modern and effective way to receive information </p>

	<h3>Develope Team</h3>
	<table class="table table-striped">
		<thead>
			<td>Name</td><td>ID</td><td>Nickname</td><td></td>
		</thead>
		<tbody>
			<tr>
				<td>蕭從恩</td>
				<td>joshua5201</td>
				<td>炸瞎子</td>
				<td>NCTU EECS 07</td>
			</tr>
			<tr>
				<td>江懿友</td>
				<td>silverneko</td>
				<td>銀蔥子</td>
				<td>NTUCSIE B03</td>
			</tr>
			<tr>
				<td>蒲郁文</td>
				<td>yuwen41200</td>
				<td></td>
				<td>NCTU CS 07</td>
			</tr>
			<tr>
				<td>陳家陞</td>
				<td>qitar888</td>
				<td>小花子</td>
				<td>NTUCSIE B03</td>
			</tr>
			<tr>
				<td>趙一穎</td>
				<td>even841030</td>
				<td></td>
				<td>NTUCSIE B03</td>
			</tr>
		</tbody>
	</table>
</div>
