<div class="well">
	<div class="header">
	<h1>About<small> something related to our team</small></h1>
	</div>

	<h3>Brief Intro</h3>
	<p>This app is set during meichuhack2014 on Microsoft Azure , the main goal of our project is
	to create a location-base relationship and serve as a modern and effective way to receive information </p>
	<hr>
	<h3>Develope Team</h3>
	<table class="table table-striped">
		<thead>
			<td>Name</td><td>Nickname</td><td>form</td>
		</thead>
		<tbody>
			<tr>
				<td>蕭從恩</td>
				<td>joshua</td>
				<td>NCTU</td>
			</tr>
			<tr>
				<td>江懿友</td>
				<td>silverneko</td>
				<td>NTUCSIE B03</td>
			</tr>
			<tr>
				<td>蒲郁文</td>
				<td>yuwen</td>
				<td>NCTU CSIE</td>
			</tr>
			<tr>
				<td>陳家陞</td>
				<td>qit888</td>
				<td>NTUCSIE B03</td>
			</tr>
			<tr>
				<td>趙一穎</td>
				<td>Even</td>
				<td>NTUCSIE B03</td>
			</tr>
		</tbody>>
	</table>
</div>
