<div class="well">
	<div class="header">
	<h1>About<small> something related to our team</small></h1>
	</div>

	<h3>Brief Intro</h3>
	<p>This app is set during meichuhack2014 on Microsoft Azure , the main goal of our project is
	to create a location-base relationship and serve as a modern and effective way to receive information </p>
	<hr>
	<h3>Develope Team</h3>
	
</div>
