<h1>Editing region</h1>

<%= render 'form' %>

<div class="text-center">
	<%= link_to 'Show', @region,:class => "btn btn-default" %> |
	<%= link_to 'Back', regions_path,:class => "btn btn-default" %>
</div>